* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body {
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: rgb(24,24,24);
    height:90px;
    position: fixed;
    width:100%;
    top: 0;
    left:0;
    padding: 0px 20px;
    z-index: 2;
}
.navbar {
    display:flex;
    justify-content: space-between;
    height:auto;
    

}

.navbarLink {
    color:white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}
.logo {
    font-size:20px;
    padding:0 20px;
    line-height: 70px;
    justify-self:center;
}
.navbarMenu {
    display:flex;
    align-items:center;
    margin-right:20px;
    list-style: none;
    margin-bottom:0px;

}
.navbarMenuItem {
    font-size:18px;
    margin: 0 10px;
    line-height: 70px;
    width:max-content;
}
.navbarMenuLink {
    color:rgba(255, 255, 255, 0.849);
}
.navbarMenuLink:hover{
    color:white;
}
.logo::before {
    content: "< ";
}
.logo::after {
    content: " />";
}
.logo:hover {
    transform: scale(1.05,1.05);
    transition: all 0.5s;
}
.botonNavbar{
    color:white;
    background:none;
    border: none;
    font-size:20px;
    padding: 0 20px;
    line-height:60px;
    display:none;
}

/* CONTENIDO */

.contenido {
    background-image: url(/assets/fondo.jpg);
    background-repeat:no-repeat;
    width:100%;
    height:90vh;
    background-position: center;
    background-size: cover;
    object-fit:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.contenido__presentacion {
    background: rgba(255, 255, 255, 0.349);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    display:flex;
    justify-content:center;
    align-items:center;
    color:White;
    padding: 20px 10px;
    margin:0 10px;
    gap:20px;
    z-index: 1;
    
}
.aq {
    width:50%;
    height:50%;
    border-radius: 100px;
}
.textoNombre h1 {
    font-size:20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.textoNombre h2 {
    font-size:15px;
}

.contenido__presentacion:hover {
    transform: scale(1.02,1.02)
}

/*  ABOUT */

.about {
    height:auto;
    background-color: rgb(24,24,24);
    color:white;
    padding-bottom:100px;
}
.tituloAbout {
    padding-top: 50px;
    text-align:center;
    padding-bottom:20px;
    
}

.aboutContenedor {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding:10px;
    justify-content: center;
    
}
.descripcion {
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding-left:10px;
}
.descripcion h2 {
    font-size:25px;
}
.descripcion p {
    font-size:15px;
    margin-bottom:100px;
}
.descripcion a {
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    border: 1px solid white;
    width:auto;
    padding: 10px 20px;
    margin-bottom: 20px;
    justify-self:center;
    align-self:center;
    font-size: 15px;
    gap:10px;
    text-decoration:none;
    border-radius:10px;
    box-shadow:2px 2px rgba(255,255,255, 0.699);
}
.descripcion a:hover {
    color: rgba(255,119,255,0.836);
    border: 1px solid rgba(255,119,255,0.836);
    transform: scale(1.05,1.05);
    transition:all 1s;
    box-shadow: 2px 2px rgba(255,119,255, 0.836);
}

.tituloSkills {
    text-align:left;
    margin-top:100px;
    margin-left:10px;
}

.itemsSkills {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 20px;
    justify-content:center;
    align-items:center;
    padding: 10px;
    margin-top:50px;
}

.item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:10px;
    transition:all 0.5s;
}
.item:hover {
    transform: scale(1.10,1.10);
}
.item img {
    height: 50px;
}
.descripcionSkills {
    font-size:15px;
    text-align:center;
}

/* PROYECTOS */

.projects {
    background-color: #1a1350;
    color:white;
    height:auto;
    padding: 10px 0px;
    padding-bottom:100px;
}
.projectsGrid {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items:center;
    row-gap:100px;
    padding: 10px 20px;
    
}

.tituloProjects {
    text-align: center;
    margin-top:50px;
    margin-bottom:100px;

}
.itemProjects {
    background-color: whitesmoke;
    height:auto;
    justify-self:center;
    align-items: center;
    position:relative;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.264);
}
.itemProjects img {
    width:100%;
    height:100%;
    display:block;
    border-radius:10px;  
}

.descripcionProjects {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    opacity:0;
    transition: opacity 1s;
    backdrop-filter: blur(5px);
}
.descripcionProjects p {
    font-size:15px;
}
.descripcionProjects > * {
    transform: translateY(20px);
    transition: transform 1s;
}
.descripcionProjects:hover {
    opacity:1;
    cursor:default;
}
.descripcionProjects:hover > * {
    transform: translateY(0);
}

.botonContainer {
    display:flex;
    gap:40px;
}
.botonProjects {
    width:auto;
    height:auto;
    padding: 5px 5px;
    background-color:transparent;
    border: 1px solid white;
    text-decoration: none;
    color:white;
    transition: all 1s;
    border-radius:10px;
}
.botonProjects:hover {
    color:white;
    transform: scale(1.10,1.10);
}

.iconoProjects {
    height:20px;
    width:auto;
    display:flex;
    gap:10px;
    margin-bottom:10px;
    justify-content:center;
    align-items:center;
}
.iconoProjects img {
    width: auto;
}

/* CONTACTO */

.contact {
    background-color: rgb(24,24,24);
    height:auto;
    display:flex;
    flex-direction:column;
}
.tituloContact {
    padding-top:100px;
    text-align:center;
    padding-bottom:70px;
    color:white;
}
.redesFooter {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}

.footer img {
    color:black;
    width:50px;
}
.footer:hover {
    color:white;
    transform: scale(1.05,1.05);
}


.fraseFooter {
    height:200px;
    color:white;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    margin-bottom:50px;

}
.build::before {
    content: "Build by Agustin Quiroga with";
}
.build2::before {
    content: ",";
}
.build3::before {
    content:"and";
    margin-left:3px;
}

@media (min-width: 300px) and (max-width: 768px) {
    .header {
        height: 60px;
    }
    .logo {
        font-size:15px;
        padding: 0 20px;
        line-height: 60px;
    } 
    .navbarMenu {
        flex-direction:column;
        align-self:center;
        margin-right:0px;
        background-color:rgb(24,24,24);
        position:fixed;
        left:0;
        top:60px;
        width:100%;
        height:100%;
        padding:0;
        padding-top:100px;
        gap:20px;
        left:100%;
        transition: left 0.5s;
    }
    .navbarMenuItem {
        line-height: 50px;
    }
    .navbarMenuLink {
        font-size:30px;
    }
    .navbarMenuLink:hover {
        background:none;
        color:white;
    }
    .botonNavbar {
        display:block;
    }
    .navbarMenuVisible {
        left:0;
    }
    .iconoWhite {
        color:white;
        justify-self:flex-end;
        align-self:flex-end;
        padding:0 50px;
    }
}

@media (min-width: 768px) and (max-width: 990px) {
    .contenido {
        height:100vh;
    }
    .contenido__presentacion {
        height:auto;
        width:60%;
    }
    .aq {
        width:50%;  
    }
    .textoNombre h1 {
        font-size:25px;
    }
    .textoNombre h2 {
        font-size:18px;
    }


    .about {
        height:auto;
        padding-top:70px;
        padding-bottom:150px;
    }
    .tituloAbout {
        margin-bottom:0px;
    }

    
    .projects {
        padding-top:100px;
        padding-bottom: 50px;
    }
    .projectsGrid {
        padding: 0px 50px;
    }
    .itemProjects {
        width:100%;
    }
    .descripcionProjects h4 {
        font-size: 40px;
    }
    .descripcionProjects p {
        font-size:20px;
    }
    .iconoProjects {
        height:30px;
        margin: 10px 0px;
    }
    .botonContainer {
        margin-top:30px;
        gap:100px;
        height:50px;
    }
    .botonProjects {
        height:auto;
        font-size:25px;
        text-align:center;
    }
}
@media (min-width: 992px) and (max-width:1190px) { 
    .navbar{
        height:100px;
    }
    .contenido {
        height:100vh;
    }
    .contenido__presentacion {
        height:auto;
        width:60%;
    }
    .aq {
        width:50%;  
    }
    .textoNombre h1 {
        font-size:32px;
    }
    .textoNombre h2 {
        font-size:22px;
    }
    .about {
        height:auto;
        padding-top:70px;
        padding-bottom:150px;
    }
    .tituloAbout {
        font-size: 50px;
        margin-bottom:50px;
    }
    .descripcion h2 {
        font-size:35px;
    }
    .descripcion p {
        font-size:20px;
    }
    .boton {
        margin-top:30px;
    }
    .boton div {
        font-size: 30px;
    }
    .tituloSkills {
        font-size:35px;
    }
    .item img {
        height:70px;
    }
    .descripcionSkills {
        font-size:20px;
    }
    .tituloProjects {
        font-size:50px;
    }
    .projects {
        padding-top:100px;
        padding-bottom: 120px;
    }
    .projectsGrid {
        padding: 0px 100px;
    }
    .itemProjects {
        width:100%;
    }
    .descripcionProjects h4 {
        font-size: 45px;
    }
    .descripcionProjects p {
        font-size:25px;
    }
    .iconoProjects {
        height:40px;
        margin: 20px 0px;
    }
    .botonContainer {
        margin-top:30px;
        gap:100px;
        height:auto;
    }
    .botonProjects {
        height:auto;
        font-size:30px;
        text-align:center;
        padding:12px;
    }
    .contact {
        padding-bottom:50px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) { 
    .navbar {
        height: auto;
    }
    .contenido {
        height:100vh;
    }
    .contenido__presentacion {
        height:auto;
        width:45%;
    }
    .aq {
        width:45%;  
    }
    .textoNombre h1 {
        font-size:25px;
    }
    .textoNombre h2 {
        font-size:18px;
    }
    .about {
        height:auto;
        padding-top:70px;
        padding-bottom:150px;
    }
    .tituloAbout {
        font-size: 40px;
        margin-bottom:50px;
    }
    .descripcion {
        padding: 0px 20px;
    }
    .descripcion h2 {
        font-size:25px;
    }
    .descripcion p {
        font-size:18px;
    }
    .descripcion a {
        align-self:flex-start;
        margin-left:20px;
    }
    .boton {
        margin-top:30px;
    }
    .boton div {
        font-size: 20px;
    }
    .tituloSkills {
        font-size:30px;
        padding: 0px 20px;
        margin-bottom: 100px;
    }
    .itemsSkills {
        grid-row-gap:70px;
    }
    .item {
        width:auto;
    }
    .item img {
        height:50px;
    }
    .descripcionSkills {
        font-size:18px;
    }
    .tituloProjects {
        font-size:40px;
    }
    .projects {
        padding-top:100px;
        padding-bottom: 120px;
    }
    .projectsGrid {
        padding: 0px 250px;
    }
    .itemProjects {
        width:100%;
    }
    .descripcionProjects h4 {
        font-size: 25px;
    }
    .descripcionProjects p {
        font-size:18px;
    }
    .iconoProjects {
        height:30px;
        margin: 20px 0px;
    }
    .botonContainer {
        margin-top:30px;
        gap:100px;
        height:auto;
    }
    .botonProjects {
        height:auto;
        font-size:20px;
        text-align:center;
        padding:10px;
    }
    .contact {
        padding-bottom:50px;
    }
}
@media (min-width:1400px) {
    .contenido {
        height:100vh;
    }
    .contenido__presentacion {
        height:250px;
        width:500px;
    }
    .contenido__presentacion:hover {
        transform: scale(1.05,1.05);
        transition: all 1s;
    }
    .aq {
        width:200px;
        height:auto;
    }
    .textoNombre h1 {
        font-size:25px;
    }
    .textoNombre h2 {
        font-size:20px;
    }
    .about {
        height: 100vh;
        padding-top:50px;
        padding-bottom:50px;
    }
    .aboutContenedor {
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
    }
    .tituloAbout {
        font-size: 40px;
        margin-bottom:10px;
        text-align: left;
        margin-left:30px;
    }
    .descripcion {
        padding: 0px 20px;
        justify-content:flex-start;
        gap:10px;
    }
    .descripcion h2 {
        font-size:25px;
        margin:0px;
        margin-top:10px;
    }
    .descripcion p {
        font-size:18px;
        margin:0px;
        margin-bottom:410px;
    }
    .descripcion a {
        align-self:flex-start;
        margin-left:20px;
    }

    .tituloSkills {
        font-size:30px;
        margin-left:50px;
        padding: 0px 0px;
        margin-top:0px;
        margin-bottom: 100px;
    }
    .itemsSkills {
        grid-row-gap:70px;
    }
    

    .tituloProjects {
        font-size:40px;
        text-align: left;
        margin-left:30px;
    }
    .projects {
        padding-top:50px;
    }
    .projectsGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0px 30px;
        row-gap: 100px;
        column-gap: 200px;
        margin-bottom:100px;
    }
    .itemProjects {
        width:54%;
        height:100%;
    }
    .itemProjectsGrid1 {
        justify-self: flex-end;
    }
    .itemProjectsGrid2 {
        justify-self: flex-start;
    }
    
    .descripcionProjects h4 {
        font-size: 25px;
    }
    .descripcionProjects p {
        font-size:15px;
    }
    .iconoProjects {
        height:30px;
        margin: 0px;
    }
    .botonContainer {
        margin-top:20px;
        gap:80px;
        height:auto;
    }
    .botonProjects {
        height:auto;
        font-size:12px;
        text-align:center;
        padding:10px;
    }
    .contact {
        padding-top:50px;
        padding-bottom:0px;
    }
}